<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.learn.freemark.repo.CommonEnityRepo">
  <resultMap id="BaseResultMap" type="com.nchu.learn.freemark.model.CommonEnity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="class_desc" jdbcType="VARCHAR" property="classDesc" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="created_time" jdbcType="BIGINT" property="createdTime" />
    <result column="modified_time" jdbcType="BIGINT" property="modifiedTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>
  <sql id="Base_Column_List">
    id, class_name, class_desc, project_name, package_name, created_time, modified_time, 
    creater, updater
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nchu_gen_class_model
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from nchu_gen_class_model
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nchu_gen_class_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nchu.learn.freemark.model.CommonEnity" useGeneratedKeys="true" keyProperty="id">
    insert into nchu_gen_class_model (class_name, class_desc,
      project_name, package_name, created_time, 
      modified_time, creater, updater
      )
    values (#{className,jdbcType=VARCHAR}, #{classDesc,jdbcType=VARCHAR},
      #{projectName,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nchu.learn.freemark.model.CommonEnity" useGeneratedKeys="true" keyProperty="id">
    insert into nchu_gen_class_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        class_name,
      </if>
      <if test="classDesc != null">
        class_desc,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classDesc != null">
        #{classDesc,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nchu.learn.freemark.model.CommonEnity">
    update nchu_gen_class_model
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classDesc != null">
        class_desc = #{classDesc,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nchu.learn.freemark.model.CommonEnity">
    update nchu_gen_class_model
    set class_name = #{className,jdbcType=VARCHAR},
      class_desc = #{classDesc,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>